.profile {
    border: 4px solid var(--black-color);
        border-radius: 12px;
        width: 750px;
        margin: 0 auto;

}
.image {
    background-color: var(--gray-dark-color);
        border-radius: 50%;
        margin-bottom: 40px;
        width: 300px;
}
.userInfo {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.title {
    font-weight: bold;
    font-size: 52px;
}
.tag {
        color: var(--gray-color);
            font-size: 40px;
            margin-bottom: 18px;
}

.profileStats {
        display: flex;
        flex-direction: row;
        background-color: var(--gray-light-color);
        border-top: 4px solid var(--gray-color);
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
}

.profileStats div {
    text-align: center;
        flex-grow: 1;

}
.profileStats div:first-child {
    border-bottom-left-radius: 8px;
    border-right: 4px solid var(--gray-color);

}

.profileStats div:last-child {
    border-bottom-right-radius: 8px;
    border-left: 4px solid var(--gray-color);

}
.profileStats :nth-child(2) {

}
.profileStats span {
    display: block;
    font-size: 32px;
}

.profileStats span:last-child {
    font-weight: bold;
}